<div class="container">
    <%= erb :_loader %>
</div>

 <script>
  function onSuccess(){
    $('.container').html("<% @user.tweets.each do |tweet| %><%= tweet.text %><hr><% end %>");
  };
  $(document).ready(function() {
    $.post('/get_tweets', {user_id: <%= @user.id if @user%>}, onSuccess);
  });
</script>
